.headerPrimary {
  font-weight: 600;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.header {
  margin-block: 2rem;
}

@media screen and (max-width: 47rem) {
  .headerPrimary {
    font-size: 2.4rem;
  }
}
