@import "styles/variables.css";

/* base */
*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
}

*:not(dialog),
*::before,
*::after {
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: var(--primary);
  background-image:
    linear-gradient(
      rgba(var(--content-background-alpha50)),
      rgba(var(--content-background-alpha50))
    ),
    url("../bg.webp");
}

input::placeholder {
  color: inherit;
  opacity: 0.5;
}

input {
  border-radius: var(--border-radius);
  padding-block: 5px;
  padding-inline: 15px;
}

input:invalid:not(:focus):not(:placeholder-shown) {
  background-color: var(--red);
}

@media screen and (max-width: 47rem) {
  html {
    font-size: 56.25%;
  }

  body {
    font-size: 1.6rem;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid var(--primary);
  padding: 10px 15px;
}

th {
  font-weight: 700;
  color: var(--secondary);
  background-color: var(--primary-alpha);
}

tr:hover {
  background-color: var(--secondary-alpha);
}

td svg {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
